body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  list-style: none;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  background-color: var(--white);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* header */
.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-color {
  color: var(--navy-blue, #2e2f42);
}

.header-menu-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--navy-blue);
}

.header-link-menu:hover,
.header-link-menu:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}
.header-link-address {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-link-address:hover,
.header-link-address:focus {
  color: var(--ocean);
}

/* .header-link-menu .link:hover {
  color: #404bbf;
} */

/* Section HERO */

.hero {
  background: var(--navyblue, #2e2f42);
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.hero-btn-text {
  color: var(--white, #fff);
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn-text:hover,
.hero-btn-text:focus {
  background-color: #404bbf;
}

/* 2 ADVANTAGES */

.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-subtitle {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.advantage-item-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* 3 about us */
.about-subtitle {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* 4 OUR TEAM */
.team {
  background: var(--cloud, #f4f4fd);
}

.team-people {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item {
  background-color: var(--white);
}
.team-names {
  color: var(--navy-blue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.team-item-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* 3 PORTFOLIO PAGE */

.color-button-portfilio {
  color: var(--white, #fff);
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.color-btn-text {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.color-button-portfilio:hover,
.color-button-portfilio:focus {
  color: var(--white);
}

.button-portfilio {
  color: var(--iris);
  background-color: var(--cloud);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-text {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

/* FOOTER */
.footer {
  background-color: #2e2f42;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris, #4d5ae5);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-decoration-logo {
  color: var(--cloud, #f4f4fd);
}
